<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles.css">-->
    <style>
        th, td {
            padding: 15px;
            text-align: left;
        }
        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<body>
    <h1>Result</h1>

    <table>
        <thead>
        <tr>
            <th> name </th>
            <th> registration </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${cars.empty}">
            <td colspan="2"> No Cars Available </td>
        </tr>
        <tr th:each="car : ${cars}">
            <td><span th:text="${car.name}"> name </span></td>
            <td><span th:text="${car.registration}"> reg </span></td>
        </tr>
        </tbody>
    </table>

    <a href="/form">Submit another car</a>
</body>
</html>